* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12pt;
  font-weight: bold;
  border-radius: 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
}
@keyframes blink_red {
  to {
    background-color: rgb(242, 143, 173);
    color: rgb(26, 24, 38);
  }
}
.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
window#waybar {
  background-color: transparent;
}

window > box {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px;
  padding-left: 8px;
  border: 2px none #33ccff;
  background-color: transparent;
}
#workspaces {
  padding-left: 0px;
  padding-right: 4px;
  background-color: rgba(0,0,0, 0.4);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
}
#workspaces button.active {
  background-color: rgb(181, 232, 224);
  color: rgb(26, 24, 38);
}
#workspaces button.urgent {
  color: rgb(26, 24, 38);
}
#workspaces button:hover {
  background-color: rgb(248, 189, 150);
  color: rgb(26, 24, 38);
}
tooltip {
  background: rgb(48, 45, 65);
}
tooltip label {
  color: rgb(217, 224, 238);
}
#custom-launcher {
  font-size: 20px;
  background-color: rgba(0,0,0, 0.4);
  padding-left: 8px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-right: 6px;
  color: #7ebae4;
}
#hyrpland-window{
  /* background-color: rgba(0,0,0, 0.4); */
  color: #D8188D;

}
#mode,
#clock,
#memory,
#temperature,
#cpu,
#mpd,
#custom-wall,
#temperature,
#background,
#network,
#battery,
#window{
  color: #33ccff;
  background-color: transparent; /* rgba(0,0,0, 0.4);*/
}
#custom-powermenu {
  padding-left: 10px;
  background-color: rgba(0,0,0, 0.4);
  padding-right: 10px;
}

/* #mode { */
/* 	margin-left: 10px; */
/* 	background-color: rgb(248, 189, 150); */
/*     color: rgb(26, 24, 38); */
/* } */
#memory {
  color: #24C3C6;
  background-color: rgba(0,0,0, 0.4);
}
#cpu {
  background-color: rgba(0,0,0, 0.4);
  color: #D8188D;
}
#clock {
  color: #1A7BC7;
  background-color: rgba(0,0,0, 0.4);
}
/* #idle_inhibitor {
                 color: rgb(221, 182, 242);
               }*/
#custom-wall {
  background-color: rgba(0,0,0, 0.4);
  color: #33ccff;
}
#temperature {
  color: rgb(150, 205, 251);
  background-color: rgba(0,0,0, 0.4);
}
#background {
  color: rgb(248, 189, 150);
  background-color: rgba(0,0,0, 0.4);
}
#network {
  color: #651085;
  background-color: rgba(0,0,0, 0.4);
}
#network.disconnected {
  color: rgb(255, 255, 255);
  background-color: rgba(0,0,0, 0.4);
}
#custom-powermenu {
  color: rgb(242, 143, 173);
  background-color: rgba(0,0,0, 0.4);
  padding-right: 8px;
}
#mpd.paused {
  color: #414868;
  font-style: italic;
  background-color: rgba(0,0,0, 0.4);
}
#mpd.stopped {
  background: transparent;
  background-color: rgba(0,0,0, 0.4);
}
#mpd {
  color: #c0caf5;
  background-color: rgba(0,0,0, 0.4);
}
#tray {
  padding-right: 8px;
  padding-left: 10px;
  background-color: rgba(0,0,0, 0.4);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#pulseaudio{
  color: #490DCD;
  background-color: rgba(0,0,0, 0.4);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 00px;
}
#custom-weather{
  background-color: rgba(0,0,0, 0.4);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 00px;
}
#custom-background{
  background-color: rgba(0,0,0, 0.4);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #490DCD;
}
